/* Colores */
$color-main: #784E3B;
$color-secondary: #A87272;
$color-white: #F8F4F4;
$color-accent: #49C7EF;
$color-grey: #C4C4C4;
$color-link: #3a626a;


/* Fuentes */
%font-main {
    font-family: 'Poppins', sans-serif;
}
%font-logo {
    font-family: 'Vogue', serif;
}