/* Colores */
$color-main: #784E3B;
$color-secondary: #A87272;
$color-white: #F8F4F4;
$color-accent: #49C7EF;
$color-background: #F9ECE6;
$color-btn: #C7C7C7;
$color-link: #113CFC;


/* Fuentes */
%font-main {
    font-family: 'Poppins', sans-serif;
}
%font-logo {
    font-family: 'Vogue', serif;
}