.bodyContacto {

    .mainContact {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        @media (min-width: 800px) {
            background-color: $color-white;
        }
    
        #titularContact {
            font-size: 1.5rem;
            margin: 2rem;
            color: $color-secondary;
            font-weight: 700;
            letter-spacing: 10px;

            @media (min-width: 800px) {
                margin: 5% 0;
            }
        }
    
        .redesContact {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            justify-content: center;
            align-items: center;
            width: 85vw;
    
            @media (min-width: 800px) {
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: 1fr;
                align-items: flex-start;
                margin: 5% 0;
            }
    
            article {
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                justify-content: center;
                margin: 0 0 5vh;
    
                a {
                    background: $color-secondary;
                    border-radius: 50%;
                    padding: 5vw;
                    display: flex;
                    justify-content: center;
                    align-items: center;
    
                    img {
                        width: 15vw;

                        @media (min-width: 800px) {
                            width: 5vw;
                        }
                    }
                }
    
                h3 {
                    width: 100%;
                    font-size: 1rem;
                    display: inline;
                    color: $color-secondary;
                    font-weight: 400;
                    margin: 15px;
                    text-align: center;

                    .linkCatalogo {
                        font-weight: 700;
                    }
                }

                @media (min-wdith: 800px) {
                    .gmail {
                        
                        br {
                            display: none;
                        }
                    }
                }
            }
        }
    
        .artSeguinos {
            background: $color-main;
            width: 100vw;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 2.5vh;
    
            h2 {
                color: $color-white;
                font-size: 1.3rem;
                letter-spacing: 10px;
                margin: 0;
            }
        }
    }
}