@import "../utilities/variables";

.bodyProductos {

    background: $color-white;



    .mainProductos {

        @media (min-width: 800px) {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            height: min-content;
        }

        .seccionImagenes {
            @media(min-width: 800px) {
                width: 45%;
                display: flex;
                flex-flow: column;
                align-items: center;
                margin: 0;
            }


            /* Carrusel */

            .containerCarruselProductos {
                display: flex;
                margin-top: 3vh;

                .carousel-inner {
                    width: 60%;
                    margin: 0 auto;

                    @media(min-width: 800px) {
                        justify-content: center;
                        align-items: center;
                    }


                }

                .carousel-control-prev-icon {
                    background-image: url("../../media/carousel/arrow.png");
                    transform: rotate(90deg);
                }

                .carousel-control-next-icon {
                    background-image: url("../../media/carousel/arrow.png");
                    transform: rotate(-90deg);
                }
            }


            .imgCarruselCompletas {
                width: 60%;
                display: flex;

                @media (min-width: 800px) {
                    padding: 2vh 0;
                }

                ul {
                    width: 100%;
                    padding: 0;
                    margin: 0;
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-evenly;
                    margin: 0 auto;

                    @media (min-width: 800px) {
                        justify-content: start;
                    }

                    li {
                        margin: 1vh 0;

                        @media (min-width: 800px) {
                            margin: 0 2vw 0 0;
                        }

                        a {

                            img {
                                width: 30vw;

                                @media(min-width: 800px) {
                                    width: 8vw;
                                }
                            }
                        }
                    }
                }
            }
        }

        

        .seccionDetalles {
            

            @media (min-width: 800px) {
                display: flex;
                flex-flow: column nowrap;
                align-items: flex-start;
                margin: 5vh 0 0;
                width: 45%;
            }

            .titularProductos {
                display: flex;
                flex-flow: column nowrap;
                padding: 1vh 0;

                @media (min-width: 800px) {
                    flex-flow: row nowrap;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    margin: 0 0 4vh;
                }

                h2,
                h3 {
                    @extend %font-main;
                    font-weight: 700;
                    letter-spacing: 0.3rem;
                    margin: 0 auto;

                    @media (min-width: 800px) {
                        margin: 0;
                        font-weight: 700;
                    }
                }

                h2 {
                    font-size: 1.1rem;
                    padding-bottom: 1vh;

                    @media (min-width: 800px) {
                        font-size: 1.7rem;
                    }
                }

                h3 {
                    font-size: 0.9rem;

                    @media (min-width: 800px) {
                        font-size: 1.7rem;
                    }
                }

                h4 {
                    font-size: 0.8rem;
                    margin: 3vh 4vw auto;
                }
            }

            .detallesProductos {
                width: 100%;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-around;
                padding: 2vh 2vw;

                @media (min-width: 800px) {
                    justify-content: space-between;
                    padding: 2vh 0;
                }

                .detallesProductos__talle,
                .detallesProductos__colores {
                    width: 45%;

                    h3 {
                        font-size: 1rem;

                        @media (min-width: 800px) {
                            font-size: 1.2rem;
                        }
                    }

                    ol {
                        width: 100%;
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: space-between;
                        margin: 0;
                        padding: 0;

                        @media (min-width: 800px) {
                            padding: 0 40% 0 0;
                        }

                        li {
                            background: $color-btn;
                            width: 2rem;
                            height: 2rem;
                            border-radius: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            @media (min-width: 800px) {
                                font-size: 1rem;
                            }
                        }
                    }
                }

                .detallesProductos__colores {}
            }

            .tablaDeTalles {
                color: $color-link;
                font-size: 0.7rem;
                font-weight: 700;
                margin: 0 5vw;

                @media (min-width: 800px) {
                    margin: 2vh 0;
                    font-size: 0.8rem;
                }
            }

            .pedidoWhatsapp {
                width: 100%;
                display: flex;
                margin: 2vh 0;
                flex-flow: column nowrap;
                align-items: center;
                justify-content: center;

                @media (min-width: 800px) {
                    align-items: start;
                }

                h3 {
                    font-size: 1rem;
                }

                h2 {
                    display: flex;
                    flex-flow: row nowrap;

                    color: $color-white;
                    font-size: 1.2rem;
                    background: #00bb2e;
                    border-radius: 40px;
                    padding: 0.8rem 3rem;
                    text-align: center;

                    @media (min-width: 800px) {
                        width: 100%;
                        justify-content: center;
                    }

                    .bx {
                        font-size: 1.5rem;
                        padding: auto 0 0;
                        margin: 0 0 0 1rem;
                    }
                }
            }
        }
    }
}