header{
    background-color: $color-main;
    .navbar{
        display: block;
        z-index: 5;
    }
    .logo{
        font-family: "Vogue";
        color: $color-white;
        letter-spacing: 10px;
        font-size: 2rem;
        text-align: center;
        line-height: 1;
        &:hover{
            text-decoration: none;
        }
    }  
    .flexPadre{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0 5%;

        .invisibleItem{
            visibility: hidden;
        }
    }
    .navbar-toggler, .navbar-dark, .hamburger{
        border-color: transparent !important;
        &:focus{
            outline: none
        }
    }
    .secciones{
        font-family: "Poppins";
        a{
            color: $color-white;
            letter-spacing: 4px;
            @media all and (min-width: 768px){
                font-size: 1.1rem;
            }
        }
        .dropdown-menu, .dropdown{
            background-color: rgba($color: #784E3B, $alpha: .7);
            border: 0;
            border-radius: 0;
            z-index: 1;
            .dropdown-item{
                color: $color-white;
                font-size: .9rem;
                &:hover{
                    background-color: $color-main;
                }
            }
        }
        .dropdown-toggle::after{
            display: none;
        }
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        text-align: left;
        @media all and (min-width: 768px){
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        .dropdown-menu{
            @media all and (max-width:767px){
                background-color: rgba($color: #784E3B, $alpha: 1);
                border: 1px solid rgba($color: #ffffff, $alpha: .3);
                .dropdown-item{
                    padding-left: 1rem;

                }
            }
        }
    }
}

//TODO: centrar logo en su contenedor
//TODO: menu dropdown de productos en sm debe empujar a las otras categorías
//TODO: agregar efectos de hover a las categorías
