#secciones{
    @media all and (min-width: 768px){
        .row{
            display: flex; 
            flex-direction: row;    
            justify-content: space-between;
            
        }
    }
    .seccion{
        height: 75px;
        color: $color-white;
        letter-spacing: 7px;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        @media all and (min-width: 768px){
            height: 200px;
            font-size: 1.25rem;          
        }
        @media all and (min-width: 992px){
            height: 250px;     
            font-size: 1.5rem;      
        }
        @media all and (min-width: 1120px){
            height: 300px;     
            font-size: 1.5rem;      
        }
    }
    #nuevo{
        background-color: $color-main;
    }
    #remeras{
        background-color: $color-secondary;
    }
    #sweaters{
        background-color: $color-main;
    }
}

//TODO: ajustar el ancho para que sea el mismo que el de sociales
